/* h1{
    background-color:yellow;
    color:blue;
}

button{
    background-color: blue;
    color: white;
}
body{
    background-color: pink;
} */

#box{
    height: 250px;
    width: 100px;
    background-color: blue;
    color: white;

    border: 1px solid black;
}