/* div{
    height: 100px;
    width: 101px;
    background-color: brown;
    color: white;
    border: 1px solid black;
} */


body.dark{
    background-color:black;

    color: white;
}
body.light{
    background-color: white;
    color: black;
}